<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450739637054-vum9d6j4asbb96ln9beva047det5l9li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450739637054-vum9d6j4asbb96ln9beva047det5l9li</string>
	<key>API_KEY</key>
	<string>AIzaSyD8J09j398AQ57G_Q5nvs2Nf1hVTTVAM3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>450739637054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.start</string>
	<key>PROJECT_ID</key>
	<string>auction-b92c7</string>
	<key>STORAGE_BUCKET</key>
	<string>auction-b92c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:450739637054:ios:722841eef3dd98aa00fa6f</string>
</dict>
</plist>
